@import url("https://use.typekit.net/usb8qya.css");

@font-face {
  font-family: 'Clear Sans';
  src: url('ClearSans-Bold.woff2') format('woff2'),
    url('ClearSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('ClearSans.woff2') format('woff2'),
    url('ClearSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}