
.form .col-md-6,
.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

.form {

  h4 {
    color: #1cc198;
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
  }

  .control-label {
    margin-left: 2px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .form-control {
    margin-bottom: 3rem;
    box-shadow: inset 0 1px 6px rgba(160, 158, 175, 0.6);
    height: 4rem;
    padding: .6rem 1.2rem;
    border: 2px solid rgba(152, 119, 35, 0.15);
    border-radius: 4px;
  }

  
  .form-control:focus {
    border: 1px solid #1cc198;
  }
  
  .form-control:hover {
    border: 1px solid #1cc198;
  }

}





