  .jumbotron {
      background-image: url(../images/full-house-pic-4.jpg);
      margin-top: -109px;
      padding-top: 245px;
      padding-bottom: 13%;
      background-size: cover;
      background-position-y: -30px;
      background-repeat: no-repeat;

      @media (max-width:990px) {
        padding-top: 210px;
        padding-bottom: 3%;
        background-size: cover;
        background-position-x: 50%;
        background-position-y: -30px;
        background-color: rgba(255, 255, 255, 0);
      }

      @media (max-width:600px) {
         margin-top: -80px;
         padding-top: 138px;
         padding-bottom: 0%;
         height: 600px;
         background-size: cover;
      }

      h1, h3 {
        text-shadow: 2px 2px 4px #726859;
      }
      
      
      h1 {
        color: #ffffff;
        font-size: 400%;
        text-align: center;

        @media (max-width:990px) {
          font-size: 300%;
          text-align: center;
        }

        @media (max-width:767px) {
          font-size: 275%;
        }

        @media (max-width:600px) {
          font-size: 220%;
        }

        @media (max-width:500px) {
          font-size: 190%;
        }
      }
  
      h3 {
        color: rgba(255, 255, 255, 1.00);
        font-size: 150%;
        text-align: center;
        font-family: Lato;
        margin: 20px auto;
        width: 60%;

        @media (max-width:990px) {
          width: 80%;
        }

        @media (max-width:600px) {
          font-size: 125%;
        }

        @media (max-width:500px) {
           font-size: 115%;
        }
      }

      .navbar {
         @media(max-width:600px) {
           height: 80px;
         }
      }

    }

    .ui-helper-hidden-accessible {
      display: none;
    }

