
/*
     Footer 
*/

footer {
  padding: 8rem 0 2rem 0;
  background-color: rgba(255,255,255,0.69);
  border-top: rgba(245,225,179,0.35) 3px solid;

  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 3rem;

    &::after{
      content: " ";
      border-bottom: 1px solid rgba(107, 122, 158, 0.20);
      width: 82%;
      display: block;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
    }

    @include respond(bp-small) {
      flex-direction: column;
      align-items: center;
    }

    .entry {
      width: 28%;

      @include respond(bp-small) {
        width: 80%;
        margin-bottom: 8rem;
        text-align: center;
      }

      h3{
        color: $color-primary;
        margin-bottom: 2rem;
        font-size: 2.8rem;
      }

      p{
        width: 80%;

        @include respond(bp-medium){
          width: 100%;
        }
      }

      ul{
        margin-top: 4rem;

        @include respond(bp-medium) {
          width: 60%;
          margin: 0 auto;
        }

        @include respond(bp-tiny) {
          width: 90%;
        }

        li{
          display: flex;
          margin-bottom: 1.5rem;
          font-weight: bold;
          align-items: center;

           @include respond(bp-medium) {
             text-align: center;
             display: block;
           }

          .ftr-icon {
            width: 2rem;
            height: 2rem;
            margin-right: 3rem;

            @include respond(bp-medium) {
              margin-right: 1rem;
            }
          }
        }
      }
    }

    .entry:last-of-type {

       @include respond(bp-small) {
         margin-bottom: 0;
       }
    }
  }

  .copycontain {

     &::after {
       content: " ";
       border-bottom: 0 solid rgba(107, 122, 158, 0.20);
       width: 0;
       display: none;
     }

    .copyright {
      padding: 4rem 0 0 0;
      margin: 0 auto;
      font-weight: bold;
  
      .greentxt {
        color: $color-primary;
      }
    }
  }


}

