
/*
     Footer 
*/

footer {
  background-image: url(../images/footer.jpg);
  margin-top: 100px;
  padding: 80px 0;

  @media(min-width:1921px) {
    background-image: url(../images/footer.jpg);
    margin-top: 200px;
    padding: 80px 0;
    background-size: cover;
  }

  @media(max-width:1200px) {
    background-image: url(../images/footer.jpg);
    margin-top: 200px;
    padding: 80px 0;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media(max-width:767px) {
    background-image: url(../images/footer.jpg);
    margin-top: 200px;
    padding: 60px 0 20px 0;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }



  h3 {
    color: #fff;
    font-size: 230%;
    letter-spacing: 2px;
    margin-bottom: 20px;

    @media(max-width: 1200px) {
      color: #fff;
      font-size: 200%;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }

    @media(max-width:990px) {
      color: #fff;
      font-size: 160%;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }

    @media(max-width:767px) {
      text-align: center;
      font-size: 200%;
    }

    @media(max-width:600px) {
      font-size: 180%;
    }

  }

  h4 {
    color: #fff;
    font-size: 170%;

    @media(max-width: 1200px) {
      color: #fff;
      font-size: 150%;
    }

    @media(max-width:990px) {
      color: #fff;
      font-size: 125%;
    }

    @media(max-width:767px) {
      font-size: 150%;
    }

    @media(max-width:600px) {
      font-size: 140%;
    }
  }

  .greentxt {
    color: #1bc197;
  }

  p {
    color: #fff;
    font-size: 100%;
    width: 80%;

    @media(max-width:990px) {
      color: #fff;
      font-size: 90%;
      width: 100%;
    }

    @media(max-width:767px) {
      color: #fff;
      font-size: 120%;
      width: 100%;
      text-align: center;
    }

    @media(max-width:600px) {
      font-size: 100%;
      width: 85%;
      margin: 30px auto;
    }
  }

  ul {
    margin-top: 40px;

    @media(max-width:767px) {
      margin: 45px auto;
      display: flex;
    }

    @media(max-width:600px) {
      margin: 45px auto;
      width: 90%;
    }

    @media(max-width:500px) {
      margin: 30px auto;
      display: block;
    }

    li {
      color: #fff;
      padding-bottom: 10px;
      font-size: 95%;

      @media(max-width:990px) {
        color: #fff;
        padding-bottom: 10px;
        font-size: 75%;
        width: 85%;
        margin: 0 auto;
      }

      @media(max-width:767px) {
        color: #fff;
        padding-bottom: 10px;
        font-size: 85%;
        width: 100%;
        margin: 0 auto;
      }

      @media(max-width:600px) {
        color: #fff;
        padding-bottom: 10px;
        font-size: 80%;
        width: 100%;
        margin: 0 auto;
      }

      @media(max-width:500px) {
        color: #fff;
        padding-bottom: 10px;
        font-size: 90%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    }

  }

  .fas {
    padding-right: 20px;
    color: #1bc197;

    @media(max-width:600px) {
      padding-right: 10px;

    }
  }

  .btn-green {
    padding: 7px 14px;

    @media(max-width:990px) {
      padding: 7px 10px;
    }
  }

  .copyright {
    padding-top: 27px;
    border-top: 1px solid rgba(255, 255, 255, 0.17);
    margin-top: 20px;

    @media(max-width:767px) {
      padding-top: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.27);
      margin-top: 25px;
      height: 100px;
    }

    p {
      text-align: center;
      width: 100%;
      font-size: 85%;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .form-inline {

    @media(max-width:767px) {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  .form-group {
    margin-right: 5%;

    @media(max-width:990px) {
      margin-right: 2%;
    }

    @media(max-width:767px) {
      width: 85%;
    }

    @media(max-width:600px) {
      margin-bottom: 0;
    }

    @media(max-width:500px) {
      width: 80%;
    }

  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #095255;
    border-radius: .25rem;
    -webkit-box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 11px 0px rgba(0, 0, 0, 0.7);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    @media(max-width:990px) {
      width: 70%;
    }
  }
}

