/*
    About Page
*/


#about-main {

  
  .whoweare {
    margin: 80px auto;
    background-color: rgba(255, 255, 255, 0.58);
    display: flex;
    justify-content: space-between;
    height: 40rem;

    @include respond(bp-medium) {
      height: auto;
      flex-direction: column-reverse;
    }

      .left{
        flex: 0 0 50%;
        padding: 4rem;

        @include respond(bp-medium) {
          flex: 0 0 100%;
        }

        h3 {
          font-size: 3rem;
          color: $color-primary;
          margin-bottom: 2rem;
        }
      }

      .right {
        height: 100%;

        @include respond(bp-medium) {
          height: 47rem;
        }

        @include respond(bp-medium) {
          height: 40rem;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .ourleaders {
      margin-bottom: 8rem;
      padding: 5rem 0;
      background-color: rgba(255, 255, 255, 0.58);


      .headline {

        h3{
          color: $color-primary;
        }
      }

      .container {
        display: flex;
        justify-content: space-around;
        padding-top: 6rem;
        flex-wrap: wrap;

        .card {
          flex: 0 0 38%;
          padding-bottom: 6rem;

          @include respond(bp-medium) {
            flex: 0 0 50rem;
          }

          @include respond(bp-smallest) {
            flex: 0 0 40rem;
          }

          .card-img-top {
            height: 32rem;

            @include respond(bp-smallest) {
              height: 26rem;
            }
          }

          .card-body {
            padding: 4rem 0;

            @include respond(bp-medium) {
              padding: 2rem 0;
            }

            .card-title {
              color: $color-primary;
              text-align: center;
              font-size: 2.5rem;
              margin-bottom: 2rem;
            }
     
            p {
              width: 80%;
              margin: 0 auto;
            }
          }
   
        }
      }



    }


  }
  
  
  .listedSlogan {
    margin: 0;
    padding: 12.5rem 0px;
    position: relative;
    text-align: center;
    background: #59aee9 url(../images/playroom.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;

     .imgoverlay {
       background: rgba(0, 0, 0, 0.5);
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
     }

    .container {
      position: relative;
      
      h4 {
        font-family: $font-primary;
        font-weight: 300;
        font-size: 4rem;
      }
      
      .listedNumber {
        font-family: fira-sans, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: $color-primary;
      }
      
     
      
      .btnflatgreen {
        background: rgba(30, 191, 151, 1);
        background: -moz-linear-gradient(top, rgba(30, 191, 151, 1) 0%, rgba(21, 133, 106, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30, 191, 151, 1)), color-stop(100%, rgba(21, 133, 106, 1)));
        background: -webkit-linear-gradient(top, rgba(30, 191, 151, 1) 0%, rgba(21, 133, 106, 1) 100%);
        background: -o-linear-gradient(top, rgba(30, 191, 151, 1) 0%, rgba(21, 133, 106, 1) 100%);
        background: -ms-linear-gradient(top, rgba(30, 191, 151, 1) 0%, rgba(21, 133, 106, 1) 100%);
        background: linear-gradient(to bottom, rgba(30, 191, 151, 1) 0%, rgba(21, 133, 106, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ebf97', endColorstr='#15856a', GradientType=0);
        border: 0px solid rgba(255, 255, 255, 0);
        font-size: 1.7rem;
        line-height: 1.5;
        color: #fff;
        font-family: fira-sans, sans-serif;
        font-weight: 700;
        font-style: normal;
        padding: 0.775rem 1.75rem;
      }
    }
  }



