/*
    Contact
*/


#contact {
  margin-bottom: 10rem;

  .container {

    .form {
      margin-top: 10rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      h4 {
        margin: 0;
        flex: 0 0 100%;
        font-size: 3rem;
        margin-bottom: 4rem;
      }

      .form-group {
        flex: 0 0 46%;

        @include respond(bp-small) {
          flex: 0 0 100%;
        }

        .control-label {
          margin-left: 2px;
          margin-bottom: 1rem;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: 600;
        }

        .form-control {
          width: 100%;
        }

        .btn-green {}
      }

      .textarea {
        flex: 0 0 100%;
        height: auto;

        .form-control {
          height: auto;
        }
      }

    }

  }
}