/*
    Home Page
*/


// ------------------ Featured ---------------


#featured {
  margin: 7rem 0;
  padding: 9rem 0;


  h2 {
    letter-spacing: 2px;
  }

  h3 {
    color: $color-primary;
  }

  .headine {

    h2 {
      margin-bottom: 2rem;
    }
  }

  .items {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;

    @include respond (bp-medium) {
      justify-content: center;
      flex-wrap: wrap;
    }


    .card {
      width: 33%;

      @include respond (bp-medium) {
        width: 50rem;
      }

      @include respond (bp-smallest) {
        width: 45rem;
      }


    }
  }



}


/*
------------------ Services ---------------
*/


#services {
  background-image: url(../images/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9rem 0;
  margin: 7rem 0;

  .headline {

    h2 {
      color: $color-primary;
    }

    h3 {
      color: $color-offwhite;
    }

  }


  .entries {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond(bp-medium) {
      justify-content: center;
    }

    .service {
      width: 33%;

      @include respond(bp-medium) {
        width: 50rem;
        margin-bottom: 5rem;
      }

      @include respond (bp-smallest) {
        width: 45rem;
      }

      .picholder {
        height: 28rem;

        @include respond(bp-large) {
          height: 27rem;
        }

        @include respond(bp-medium) {
          height: 33rem;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      h2 {
        color: #1bc197;
        font-size: 2.4rem;
        margin: 2rem auto;
        text-align: center;
      }

      p {
        color: $color-offwhite;
        margin: 0 auto;
        width: 90%;
      }
    }
  }




}

/*
------------------ Blog ---------------
*/


#blog {
  padding: 6rem 0;
  margin: 7rem 0;

  .container {

    .headline {
  
      @include respond(bp-small) {
        width: 75%;
      }

      @include respond(bp-smallest) {
        width: 80%;
      }

      @include respond(bp-tiny) {
        width: 90%;
      }
    }
  
  
    h2 {
      letter-spacing: 2px;
    }
  
    h3 {
      color: $color-primary;
    }
  
    .entries {
      display: flex;
      justify-content: space-between;
      margin-top: 8rem;
  
      @include respond (bp-medium) {
        justify-content: center;
        flex-wrap: wrap;
      }
  
      .card {
        width: 33%;
        position: relative;
        padding-bottom: 5rem;
    
        @include respond (bp-medium) {
          width: 50rem;
        }
    
        @include respond (bp-smallest) {
          width: 45rem;
        }
  
        .card-img-top{
          position: relative;
  
          .author {
            position: absolute;
            bottom: 0;
            z-index: 100;
            display: flex;
            justify-content: space-evenly;
            background-color: rgba(22, 139, 108, 0.9);
            margin-top: -4rem;
            color: #fff;
            font-weight: bold;
            padding: 1rem 0;
            width: 100%;
    
            li {
              margin: 0 2%;
            }
    
          }
  
        }
    
        .card-body {
    
          h3 {
            color: $color-primary;
            margin: 2rem 0;
            margin-left: 10%;
            font-size: 2.4rem;
          }
    
          .text p {
            margin-left: 10%;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 2.5rem;
  
            @include respond(bp-large) {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
    
        }
  
        .readmore {
          position: absolute;
          right: 3.5rem;
          bottom: 3rem;
          color: $color-primary;
          font-size: 1.6rem;
          font-weight: bold;
          font-family: $font-heading;
  
          @include respond(bp-large){
            font-size: 1.6rem;
          }
        }
    
      }
  
    }

  }

}

/*
------------------ Partners ---------------
*/


#partners {
  background: url(../images/partners.jpg) no-repeat center;
  padding: 12rem 0;
  margin: 7rem 0 0 0;
  background-attachment: fixed;
  background-size: cover;

  h3 {
    margin: 0 auto 3rem auto;
    text-align: center;
    color: #fff;

  }

  ul {
    display: flex;
    justify-content: center;

    @include respond(bp-small) {
      flex-wrap: wrap;
    }
 
    li {
      margin: 0 5%;
      height: 13.5rem;

      @include respond(bp-small) {
        width: 100%;
        margin-bottom: 8rem;
      }


      img {
        height: 100%;
        object-fit: contain;
      }
    }


    .clear {
      clear: none;
    }

  }
}

#newsletter{
  background-image: url(../images/newsletter-bg.jpg);
  height: 26.1rem;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include respond(bp-medium) {
      justify-content: center;
      flex-wrap: wrap;
    }

    h3{
       font-size: 3.4rem;
       color: $color-primary;

       @include respond(bp-medium) {
         width: 100%;
         text-align: center;
       }
    }

    form {
      display: flex;
      align-items: center;
      position: relative;
      width: 40%;

      @include respond(bp-medium) {
        width: 60%;
      }

      @include respond(bp-small) {
        width: 80%;
      }

      .newsletterinput {
        background-color: transparent;
        padding: 1px 2px;
        border-width: 2px;
        border-color: $color-primary;
        border-image: none;
        border: none;
        border-bottom: 2px solid rgba(12,172,138,0.32);
        width: 100%;
        font-size: 1.8rem;
        padding-bottom: 0.5rem;
        color: $color-primary;
        font-weight: bold;
      }

      .sendarrow {
        width: 3.3rem;
        position: absolute;
        right: 0;
        top: -45%;
      }
    }

  }

}