/*
    Listings Page
*/


#listings {
  padding: 115px 0 0 0;
  
  .container {
    width: 80%;
  }
  
  .headline {
    border-left: #1bae88 solid 4px;
    padding-left: 2%;
    margin-left: 1%;
    height: 62px;
    overflow: hidden;

    @media (max-width:1200px) {
      height: 55px;
    }
  }
  
  h2 {
    font-size: 140%;
    letter-spacing: 2px;

    @media (max-width:1200px) {
      font-size: 105%;
    }

    @media (max-width:990px) {
      font-size: 115%;
      letter-spacing: 2px;
    }
  }
  
  h3 {
    font-size: 110%;

    @media (max-width:990px) {
      font-size: 105%;
    }
  }
  
  
  .card {
    flex: 0 0 39%;
    max-width: 32%;
    margin: 30px 0.5%;
    padding-bottom: 5%;
    background-color: rgba(255, 255, 255, 1.00);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px rgba(214, 200, 191, .34);
    -moz-box-shadow: 0 2px 2px rgba(214, 200, 191, .34);
    box-shadow: 0 2px 2px rgba(214, 200, 191, .54);
    padding-left: 0;
    padding-right: 0;

    @media (max-width:990px) {
      flex: 0 0 48%;
      max-width: 48%;
    }

    @media (max-width:767px) {
      flex: 0 0 70%;
      max-width: 70%;
      margin: 30px auto;
    }

    @media (max-width:550px) {
      flex: 0 0 80%;
      max-width: 80%;
    }

    @media (max-width:450px) {
      flex: 0 0 90%;
      max-width: 90%;
      padding-bottom: 10%;
    }

    .card-img-container {
      width: 100%;
      padding-bottom: 60%;
      overflow: hidden;
      position: relative;
      
      img {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .forsale {
      background-color: #1bae89;
      color: #fff;
      width: 30%;
      padding: 8px;
      text-align: center;
      font-weight: bold;
      letter-spacing: 1px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;

      @media (max-width:1200px) {
        width: 35%;
        font-size: 90%;
      }
    }

    .card-body {

      h3 {
        text-align: center;
        color: #1bc197;
        font-size: 22px;
        text-transform: uppercase;
        margin: 5px 0 0 0;
        padding: 0;
      }
      
      h4 {
        text-align: center;
        color: #1bc197;
        font-size: 120%;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      
      h5 {
        color: #6b7a9e;
        text-align: center;
        font-size: 105%;
        margin-top: 2px;
      
      }

      .price {
        text-align: center;
        font-weight: bold;
        width: 100%;
        display: block;
        font-family: fira-sans, sans-serif;
        margin: 15px auto;
        font-size: 130%;
        color: #1bc197;

        @media (max-width:1200px) {
          font-size: 100%;
        }
      }

      .listInfo {
        display: flex;
        justify-content: center;
  
        li {
          margin: 0 3%;
          font-family: fira-sans, sans-serif;
          font-size: 90%;
          font-weight: bold;

          @media (max-width:1200px) {
            font-size: 85%;
          }
        }

        .listnumber {
          color: #1bc197;
        }

      }

      .btn-green {
        position: absolute;
        right: 15px;
        bottom: 15px;
        padding: 8px 10px;
        font-size: 67%;
        font-weight: bold;
        border-radius: 0;

        @media (max-width:1200px) {
          padding: 6px 9px;
        }
      }
    }
    
  }
  
}

.noDetails {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  
  p {
    text-align: center;
    color: #0cac8a;
    font-weight: bold;
  }
}

.countgreen {
  color: #1cc198;
}


