/*
    Staff Detail Page
*/


#team-detail {
  margin-bottom: 10rem;

  .header {
    height: 50rem;
    padding: 0 3rem 0 3rem;

    @include respond(bp-smallest) {
      height: 40rem;
    }

    .container {
      position: relative;
      z-index: 200;
      width: 100%;
      display: flex;
      height: 35rem;
      flex-wrap: wrap;
      align-items: center;

      .userInfo {
        flex-basis: 100%;
        text-align: center;
        padding-top: 7rem;

        h2 {
          font-size: 8rem;
          margin-bottom: 1rem;

          @include respond(bp-smallest) {
            font-size: 6rem;
          }
        }

        h3 {
          font-size: 3rem;
          color: $color-primary !important;
        }

      }


    }
  }

  .list-full-pic {
    width: 100%;
    height: 50rem;
    border-radius: 3px;
    object-fit: cover;
    margin: 5rem auto;
    object-position: center;
  }

  .staffInfo {
    margin-bottom: 5rem;
    display: flex;
    padding: 6rem;
    justify-content: space-between;

    @include respond(bp-medium) {
      flex-wrap: wrap;
    }

    @include respond(bp-smallest) {
      padding: 4rem;
    }

    .contactInfo {
      flex: 0 0 48%;

      @include respond(bp-medium) {
        flex: 0 0 100%;
        margin-bottom: 10rem;
        text-align: center;
      }

      h3 {
        font-size: 3.1rem;
        color: $color-primary;
        margin-bottom: 0.7rem;
      }

      h4 {
        font-size: 2rem;
        margin-bottom: 3.3rem;
      }

      p {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 1.3rem !important;

        .fas {
          padding-right: 1rem;
          color: $color-primary;
        }
      }
    }

    .staffBio {
      flex: 0 0 48%;

      @include respond(bp-medium) {
        flex: 0 0 100%;
      }

      h3 {
        font-size: 3.1rem;
        color: $color-primary;
        margin-bottom: 2.2rem;

        @include respond(bp-medium) {
          text-align: center;
        }
      }

    }

  }

  .form {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h4 {
      margin: 0;
      flex: 0 0 100%;
      font-size: 3rem;
      margin-bottom: 4rem;
    }

    .form-group {
      flex: 0 0 46%;

      @include respond(bp-small) {
        flex: 0 0 100%;
      }

      .control-label {
        margin-left: 2px;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
      }

      .form-control {
        width: 100%;
      }

      .btn-green {}
    }

    .textarea {
      flex: 0 0 100%;
      height: auto;

      .form-control {
        height: auto;
      }
    }

  }

}