/*
    Team Listing Page
*/


#team-listing {
  padding: 50px 0 0 0;
  
  .row {
    margin: 50px 0;
  }
  
  .staff-member-entry {
    height: auto;
    margin-bottom: 70px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.65);
    flex: 0 0 45%;
    max-width: 45%;
    margin-right: 5%;

    @media (max-width:990px) {
      margin-bottom: 0;
      flex: 0 0 80%;
      max-width: 80%;
      margin-right: 0;
      margin: 20px auto;
    }
  }
  
  .user-pic {
    width: 30%;
    text-align: center;
    position: relative;
    padding-bottom: 30%;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    display: block;
  }
  
  .user-info {
    width: 100%;
    text-align: center;
    margin: 30px auto;

    @media (max-width:990px) {
      margin: 20px auto;
    }
  }
  
  
  .picmember {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  h3 {
    font-size: 150%;
    
    a {
      color: #1cc198;
    }
    
    a:hover {
      color: #6b7a9e;
      text-decoration: none;
      transition: all 0.3s linear;
    }
  }
  
  h4 {
    font-size: 120%;
    font-family: 'Clear Sans';
  }
   p {
    font-size: 100%;
    width: 80%;
    margin: 20px auto;
  }
}


